.main {
  background: white;
  margin-top: 120px;
  padding: 2rem 3rem;
  border-radius: 2rem;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0;
  }
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.attendance {
}
