@import url('/styles/variables.less');

.notification {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.content {
  flex-grow: 1;
  width: 360px;
  text-align: left;
  @media @mobile {
    width: 100%;
  }
}

.title {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.2rem;
  @media @mobile {
    font-size: 0.8rem;
  }
}
