name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g yarn
      - run: npm install -g pm2
      - run: yarn install
      - run: yarn build
      - run: which pm2
      - run: pm2 ps
      - run: pm2 restart frontend-presensi
        env:
          CI: false
